{
  "extends": ["stylelint-config-recess-order"],
  "customSyntax": "postcss-jsx",
  "overrides": [
    {
      "files": ["**/*.styles.{ts,tsx}"],
      "customSyntax": "postcss-jsx"
    }
  ],
  "rules": {
    "no-empty-first-line": null,
    "function-no-unknown": null,
    "string-quotes": "single",
    "declaration-colon-newline-after": null,
    "value-list-comma-newline-after": null,
    "value-keyword-case": null,
    "function-name-case": null
  }
}
