* {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
}

*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  line-height: 1.16;
  overflow-wrap: break-word;
  tab-size: 4;
  cursor: default;
  -webkit-tap-highlight-color: transparent;
  text-size-adjust: 100%;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  background: none;
  border: 0;
}

a {
  text-decoration: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}
